
#startDiv {
    position: absolute;
    margin-top: 330px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 45%;
    font-size: 30px;
    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
}
.parent{
    display: flex;
    justify-content: center
}